/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background: #fafafa
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 48px;
    line-height: 48px; /* Vertically center the text there */
    background-color: #f0f0f0;
}


body > .container {
    padding: 60px 15px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}

.bg-custom {
    background: #464F4F /*#1e1e1e;*/
}

.nav-link, .navbar-brand {
    /*color: #adff2f;*/
    color: #fafafa;
}

    .nav-link:hover, .navbar-brand:hover {
        color: #f0f0f0;
    }

.navbar-toggler-icon {
    color: green !important;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23fafafa' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
